.hero {
	background: url('../img/waves.png') repeat-x;
	background-position: bottom;
	background-size: 680px 100px;
	-webkit-animation: backgroundScroll 30s linear infinite;
	animation: backgroundScroll 30s linear infinite;
	position: relative;
	overflow-x: hidden;

	.wrapper {
		@include display(flex);
		@include align-items(center);
		@include justify-content(center);
		@include flex-direction(column);
		height: 100vh;
		text-align: center;
	}

	h1 {
		font-weight: normal;
		font-size: 64px;
		margin-bottom: 20px;

		@include mobile {
			font-size: .8 * 64px;
		}
	}

	h2 {
		font-weight: normal;
		font-size: 56px;
		margin-bottom: 20px;

		@include mobile {
			font-size: .9 * 56px;
		}
	}

	img {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		padding: 8px;

		@include mobile {
			width: 70px;
			height: 70px;
		}

		&:hover {
			transition: border .3s;
			border: 3px solid rgba(64, 64, 64, .2);
		}
	}

	.boat {
		position: absolute;
		bottom: 56px;
		width: 160px;
		height: 84px;
		transform-origin: 30% 0;
		background-image: url('../img/boat.png');
		z-index: -1;
		-webkit-animation: boatMove 60s linear infinite,
				   boatRotate 4.4s ease infinite .4s;
		animation: boatMove 60s linear infinite,
				   boatRotate 4.4s ease infinite .4s;
	}

	.smoke {
		background-image: url('../img/smoke.png');
		width: 60px;
		height: 60px;
		position: absolute;
		right: 84px;
		z-index: 1;
		-webkit-animation: smoke 4s ease infinite;
		animation: smoke 4s ease infinite;
	}
}