section {
	background: rgb(134, 169, 228);
}

.wrapper {
	width: 70%;
	margin: auto;
	max-width: 960px;

	@include mobile {
		width: 90%;
	}
}

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #E2E8FE;
	font-size: $base-font-size;
	color: $base-font-color;
	font-family: 'Raleway', sans-serif;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
	text-decoration: none;
	color: $base-link-color;
}